<div class="pensamento {{ Pensamento.modelo }} ff-roboto-mono pensamento-p ">
  <img src="/assets/imagens/{{ Pensamento.modelo }}.png" alt="Aspas colorida" />
  <p class="conteudo">{{ Pensamento.conteudo}}</p>
  <p class="autoria"><b>{{ Pensamento.autoria}}</b></p>
  <div class="acoes">
    <button class="botao-editar">
      <img src="/assets/imagens/icone-editar.png" alt="icopne de editar" />
    </button>
    <button class="botao-exluir">
      <img src="/assets/imagens/icone-editar.png" alt="icopne de excluir" />
    </button>
  </div>
</div>
